@media only screen and (max-width: 740px) {
    header img {
        float: none;
    }
}

@media only screen and (max-width: 570px) {
    header img {
        float: none;
        width: 100%;
    }
    h1, h2 {
        text-align: center;
    }
}

@media only screen and (max-width: 480px) {
    header img {
        float: none;
        width: 100%;
    }
    h1, h2 {
        text-align: center;
    }
}
