html, button, input, select, textarea {
    color: #444;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

body {
    background-color: #a4a3a3;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
}

#wrapper {
    max-width: 900px;
    min-width: 320px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding-bottom: 20px;
}

header img {
    float: right;
}


h1, h2 {
    font-family: 'Open Sans', sans-serif;
    color: #2e2d2d;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 20px 0;
}
section h2 {
    border-bottom: 2px solid #eaeaea;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
ul, ol {
    list-style: none;
    padding: 0;
}

ul li, ol li {
    padding-left: 20px;
    position: relative;
}


dt {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #4e4e4e;
    color: #fff;
}






